# Node dependencies (Crucial to block!)
node_modules/
jspm_packages/
.npm
.eslintcache

# Build outputs
dist/
tmp/
out/
build/

# Local Environment Secrets 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configurations & OS garbage
.vscode/
.idea/
.DS_Store
Thumbs.db